body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 20px;
}

.navbar {
  display: flex;
  height: 70px;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
}

.navbar--logo {
  margin-left: 20px;
  width: 82.02px;
  height: 25.35px;
}

.hero {
  margin: 50px 50px;
  display: flex; 
  flex-direction: column;
}

.hero--image {
  margin-bottom: 20px;
  align-self: center;
  max-width: 395.91px;
}

.hero--title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0px;
}

.hero--desc {
  margin-top: 2px;
  line-height: 110%;
  font-size: 16px;
  max-width: 320px;
}
.card {
  /* margin: 20px; */
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--image {
  border-radius: 15px;
  width: 190px;
  /* position: absolute; */
}

.card--rating {
  margin-top: 7px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: 2px;
  margin-bottom: 7px;
  position: inherit;
}

.card--rating img {
  width: 14px;
  /* position: absolute; */
}

.card--rating-primary {
  color: black;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0;
}


.card--rating-secondary {
  font-size: 12px;
  color: #918E9B;
  margin-top: 0;
  margin-bottom: 0;
} 

.card > p {
  color: #222222;
  font-size: 12px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 7px;
}

.card--price {
  font-weight: 700;
}

.card--status {
  background-color: #FFFFFF;
  font-size: 10.24px;
  border-radius: 2px;
  position: relative;
  width: 61px;
}

.card--title{
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .card--stats {

} */

.card--list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card--badge {
  position: absolute;
  background-color: #FFFFFF;
  color: black;
  font-size: 10.24px;
  left: 10px;
  top: 10px;
  border-radius: 4px;
  padding: 2px 7px;
}